.box {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    width: 100%;
 
    padding-top: 10rem;
}

.cont {
    display: flex;
    width: 50;
    margin: auto;
    box-shadow: 4px 4px 8px;
    border-radius: 10px;
    background-color: 'rgb(255, 255, 255 )';
}

/* .input {
    width: 100%;
    margin-top: 30px;
    /* margin: 10px 0; */
    /* padding: 5px 0; */
    /* color: white; */
/* } */ 
.MuiTextField-root {
    color: white;
    /* margin-top:'40px 0px 0px 0px';  */
    padding: 5px 0;
    width: 100%;
    /* background-color: red; */
    /* margin-top: 30px; */
    margin: 40px 0;
}